
.one{
    font-size: 2vw;
    font-family:Merienda;
    color:antiquewhite;
    padding: 30px;
    outline-style: double;
    outline-width: 10px;
    position: absolute ;
    outline-color: rgb(160, 163, 211);
    outline-offset: 20px;
    border: dotted 5px  #585e5896 ;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 2px 2px 10px black;
     


    
    
}
.two{
    position: absolute;
    text-align: center;
    text-shadow: #0b3c0f96; 
    font-size: 2vw;
    left: 900px;top: 400px;
    font-family: Indie Flower;
    color: antiquewhite;

}

.three{
    position: absolute;
    text-align: center;
    left: 400px;top: 600px;
    font-size: 2vw;
   font-family: Indie Flower;
   color: wheat;
   
}

.four{
    position: absolute;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: #0b3c0f96; 
    left: 800px;top: 700px;
    font-size: 2vw;
    color: beige;
    text-decoration: none;
    
    
}
.five{
    position: absolute;
    text-align: center;
    text-shadow: #0b3c0f96; 
    font-size: 2vw;
    left: 800px;top: 500px;
    font-family: Indie Flower;
    color: antiquewhite;

}

a:hover{

    color: rgb(149, 123, 235);
}